### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items

items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [4]:
average_price_df = purchase_data_df["Price"].mean()
average_price_df

3.050987179487176

In [5]:
#Total number of purchases

total_purchases_df = len(purchase_data_df)
total_purchases_df

780

In [6]:
# Total Revenue

total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df

2379.77

In [7]:
# Summary

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],"Average Purchase Price":[average_price_df],
                                     "Total Number of Purchases":[total_purchases_df],"Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,Item Name Abyssal Shard ...,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# Gender Count
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
# Gender Percentage
gender_percentage_df = gender_count_df/players_df.count()
gender_percentage_df.round(2)

Gender
Female                   0.14
Male                     0.84
Other / Non-Disclosed    0.02
Name: SN, dtype: float64

In [10]:
#Summary Gender demographics

gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df

                       Gender Count  Gender Percentage
Gender
Female                           81           0.140625
Male                            484           0.840278
Other / Non-Disclosed            11           0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Total number of purchases by gender

gender_purchases_df = purchase_data_df.groupby("Gender")["Item Name"]
gender_purchases_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [12]:
# Average price of items by gender

gender_average_df = purchase_data_df.groupby("Gender")["Price"].mean()
gender_average_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
#Total Purchase value by gender

gender_total_df = purchase_data_df.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
#Avg Total Purchase per Person

normalized_gender_total_df = gender_total_df/gender_count_df
normalized_gender_total_df.round

<bound method Series.round of Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64>

In [15]:
# Purchasing analysis DataFrame by gender

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, "Average Purchase Price":gender_average_df,
                                   "Total Purchase Value":gender_total_df,"Normalized Totals":normalized_gender_total_df})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,"(Female, [Deadline, Voice Of Subtlety, Nirvana...",3.203009,361.94,4.468395
Male,"(Male, [Extraction, Quickblade Of Trembling Ha...",3.017853,1967.64,4.065372
Other / Non-Disclosed,"(Other / Non-Disclosed, [Ghastly Adamantite Pr...",3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#Establishing bins
bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [17]:
#cut
pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      15-19
8      20-24
9      30-34
10     20-24
11     20-24
12     20-24
13     20-24
14     30-34
15     20-24
16     15-19
17     20-24
18     20-24
19     25-29
20     15-19
21     15-19
22     35-39
23     35-39
24     25-29
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    15-19
757    15-19
758    20-24
759    20-24
760    20-24
761     >=40
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    10-14
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [18]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [20]:
#Percentage by age range
age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/total_purchases_df,2)
age_group_percentage_df

20-24    0.42
15-19    0.26
25-29    0.10
10-14    0.07
30-34    0.07
35-39    0.04
<10      0.04
>=40     0.01
Name: Age Range, dtype: float64

In [22]:
# Purchase count by age range

age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]
age_group_count_df.count()

Age Range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item Name, dtype: int64

In [23]:
# Average purchase price by age range

age_group_average_df = purchase_data_df.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10      3.40
10-14    2.90
15-19    3.11
20-24    3.02
25-29    2.88
30-34    2.99
35-39    3.40
>=40     3.08
Name: Price, dtype: float64

In [25]:
#Total purchase value by age range

age_group_total_df = purchase_data_df.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
>=40      21.53
Name: Price, dtype: float64

In [35]:
#Normalized totals by age range.

normalized_age_total_df = age_group_total_df/576
normalized_age_total_df.round(2)

Age Range
<10      0.19
10-14    0.27
15-19    1.08
20-24    1.70
25-29    0.38
30-34    0.27
35-39    0.20
>=40     0.04
Name: Price, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
# Purchasing analysis DataFrame by age range
age_range_df = pd.DataFrame({"Purchase Count":age_group_count_df,"Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,"Normalized Totals": normalized_age_total_df})
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
<10,"(<10, [Blood-Forged Skeletal Spine, Faith's Sc...",3.405000,108.96,0.189167
10-14,"(10-14, [Demise, Extraction, Quickblade Of Tre...",2.900000,156.60,0.271875
15-19,"(15-19, [Extraction, Quickblade Of Trembling H...",3.107800,621.56,1.079097
20-24,"(20-24, [Final Critic, Blindscythe, Fury, Drea...",3.020431,981.64,1.704236
25-29,"(25-29, [Blazefury, Protector of Delusions, Pe...",2.875584,221.42,0.384410
30-34,"(30-34, [Ghastly Adamantite Protector, Bone Cr...",2.994423,155.71,0.270330
35-39,"(35-39, [Frenzied Scimitar, Interrogator, Bloo...",3.404545,112.35,0.195052
>=40,"(>=40, [Aetherius, Boon of the Blessed, Demise...",3.075714,21.53,0.037378

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Top spenders analysis

players_purchase_count_df = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#DataFrame

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,"Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})
total_user_data_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [40]:
# Top five spenders

top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [41]:
# Total items purchases analysis

items_purchase_count_df = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,"Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

items_purchased_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
# 5 most popular items
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
# five the most profitable items.

most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80